#contact {
  --fontSize: 3.5rem;
  background-color: var(--black);
  color: var(--grayLight);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 130px 0;

  .description {
    text-align: center;
    h2 {
      font-size: var(--fontSize);
      font-weight: 800;
      letter-spacing: 2px;
    }
    p {
      margin-top: 1rem;
      font-style: italic;
    }
  }

  .contact-list {
    display: flex;
    gap: 2rem;
    .contact-item {
      display: flex;

      a {
        display: flex;
        align-items: center;

        font-size: 1.5rem;
        gap: var(--gap-social);

        font-family: "roboto";
        text-transform: uppercase;
        transition: all 0.2s;
        span {
          display: block;
          order: 1;
        }
        img {
          display: block;
          order: 0;
          width: var(--size-brand);
          height: var(--size-brand);
          object-fit: cover;
        }
      }
    }
  }
  @media (max-width: 380px) {
    //   flex-direction: column;
    padding: 30px;
    --fontSize: 1.5rem;
    .description {
      h2 {
        font-size: 1.5rem;
      }
    }
  }

  @media (max-width: 768px) {
    //   flex-direction: column;
    --fontSize: 1.5rem;
    .contact-list {
      .contact-item {
        a {
          span {
            display: none;
          }
          i {
            font-size: 3rem;
          }
        }
      }
    }
  }
}
