:root {
  --red: #e63946;
  --redDark: #a73040;
  --white: #f0f0f0;
  --gray: #3a3d40;
  --grayLight: #d0d2d3;
  --gray-light: #3a3d4022;
  --black: #181719;
  --blueLight: #45567d;
  --yellow: #c0ce41;
}
