footer {
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  padding: 2.2rem 8rem;
  font-size: 1.2rem;
  color: var(--grayLight);
  border-top: 0.25rem solid var(--red);
}
