@media (max-width: 1024px) {
    footer {
        flex-direction: column;
    }
}

@media (max-width: 720px) {
    footer {
        justify-content: center;
        align-items: center;
        padding: 1rem;
        span {
            &:first-child {
                display: none;
            }
        }
    }
}

@media (max-width: 375px) {
    footer {
    }
}
