.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--gray);

  --sizeName: 4rem;
  --sizeJob: 2rem;
  & > .name {
    font-size: var(--sizeName);
    font-weight: 700;
    color: var(--white);
  }
  & > .job {
    font-size: var(--sizeJob);
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.2rem;
    color: var(--red);
  }

  @media (max-width: 375px) {
    --sizeName: 3rem;
    --sizeJob: 1rem;
  }
}
